.idea
.ipynb_checkpoints
venv
test_reports
build
OptimalConstraintTree.egg-info
Manifest.toml
dist
__pycache__
*.json
*.subs
*.bounds
*.sol
*.png
*.cbf
*.cbf.gz
*.cov
*.csv
*.inp
*.out
*.log
*.lst
*.lxi
*.tree
*.txt
*.jld

tatus
/dump/