.idea
.ipynb_checkpoints
venv
test_reports
docs/build
build
OCTHaGOn.egg-info
Manifest.toml
dist
__pycache__
*.json
*.subs
*.bounds
*.sol
*.png
*.cbf
*.cbf.gz
*.cov
*.csv
*.inp
*.out
*.log
*.log*
*.lst
*.lxi
*.tree
*.txt
*.jld
*.zip
*.ini

tatus
/dump/
/bugreport/